* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ededed !important;
}
header {
    background: #343a40;
}
header.scroll{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.menu {
    width: 100%;
}
.card {
    border: 1px solid rgb(0 0 0 / 6%) !important;
    border-radius: 0.5rem !important;
}
.carousel-indicators li {
    width: 30px !important;
    height: 25px !important;
    border-radius: 50%;
    border-top: 0!important;
    border-bottom: 0!important;
    transform: scale(0.5);
}
.navbar-collapse {
    justify-content: space-between;
}
.navbar-brand {
    font-style: italic;
    font-weight: bold;
    border-radius: 2rem;
    border: 1px outset #42d3dd;
    padding: 30px;
    letter-spacing: 1px;
    background: linear-gradient(to left, #343a40 50%, #42d3dd 0%);
    background-size: 200% 100%;
    transition: 0.4s;
}
.navbar-brand:hover {
    background-position: right center;
}
.dropdown-menu.show {
    animation: show1 0.4s ease forwards;
}
@keyframes show1 {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
.Content {
    margin-top: 5px;
    border: 0.5px solid #26222236;
    background: #fff;
    box-shadow: 1px 4px 10px 5px #0000001c;
}
.clickable{
    cursor: pointer;   
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #337ab7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.card-body{
    padding: 0!important;
    border: 1px solid #ddd;
}
.card-body h5{
    border: 1px solid #ddd;
    padding: 15px 20px;
    background-color: #f5f5f5;
}
.panel-primary {
    border-color: #337ab7;
    margin-top: 8px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pull-right {
    float: right!important;
}
.panel-heading span {
    margin-top: -37px;
    font-size: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before{
    display: table;
    content: " ";
}
.panel-body:after{
    clear: both;
    display: table;
    content: " ";
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.form-group.item-service {
    display: flex;
    justify-content: space-between;
}
.signup-form{
    padding: .5rem 1.5rem;
}
.setup{
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

.form-group-click{
    display: flex;
    justify-content: space-between;
}
.table {
    margin-top: 20px;
}
.footer {
    margin-top: 200px;
    background-color: #818da0;
    color: white;
}
