body{
    margin: 0;
    padding: 0;
    background-image: url("images/img1.jpg");
}
.navbar-brand{
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: red;
    background-color: yellow;
    border-radius: 10px;
}
.content{
    margin-top: 20px;
    background: burlywood;
}
.row{
    margin-top: 10px;
}
.footer{
    margin-top: 500px;
    background-color:#818da0;
    color: white;
}