body{
    margin: 0;
    padding: 0;
    background-image: url("images/img1.jpg"); 
}
.navbar-brand{
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: red;
    background-color: burlywood;
    border-radius: 10px;
} 
.content h2{
    margin-top: 10px;
    text-align: center;
    color: #3333FF;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.content h3{
    margin-top: 10px;
    text-align: center;
    color: #3333FF;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.btn.btn-danger{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 470px;
}
.footer{
    margin-top: 130px;
    background-color: #818da0;
    color: white;
}